.fall-animation {
  height: var(--nav-containers-height);
  transform: translateY(-150vh);
  animation: 1s ease forwards fall;
  align-self: normal;
}

.fall-back-animation {
  animation: 0.5s ease forwards fall-back;
}

@keyframes fall {
  from {
    transform: translateY(-150vh);
  }

  50% {
    transform: translateY(50vh);
  }

  100% {
    transform: translateY(calc(50vh - var(--nav-containers-height) / 2));
  }
}

@keyframes fall-back {
  from {
    transform: translateY(calc(50vh - var(--nav-containers-height) / 2));
  }

  100% {
    transform: translateY(-150vh);
  }
}