.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../../assets/icons/close-icon.webp');
  background-size: cover;
}

.nav-button {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 10;
  background: url('../../assets/icons/nav-icon.webp');
  background-size: cover;
}