@import "./vars.css";
@import "./app.css";
@import "./buttons.css";
@import "./forms.css";
@import "./navigation.css";
@import "./animation.css";

* {
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: 'Londrina Solid', cursive;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
button {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  border: none;
  text-transform: capitalize;
}

button {
  cursor: pointer;
}