@import "./vars.css";
@import "./app.css";
@import "./forms.css";


* {
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: 'Londrina Solid', cursive;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}